
<div class="row">
  <div class="col-2">
    {{playerService.dateTimeLong()}}
  </div>
  <div class="col-5">
    Wizard McGee
  </div>
  <div class="col">
    <!-- placeholder -->
  </div>
  <div class="col">
    ${{playerService.money}} / ${{playerService.rentDueAmount()}} due in {{playerService.daysTilRent()}} day(s)
  </div>
</div>
