<h2>Ingredients</h2>
<div>
  <button type="button" class="btn btn-primary" title="Takes 2 hours" (click)="gatherIngredients()">Gather Ingredients</button>
</div>
<div *ngIf="isEmpty(); then emptyBlock else invBlock"></div>
<ng-template #emptyBlock>You have no ingredients</ng-template>
<ng-template #invBlock>
  You have the following reagents on hand:
  <ul>
    <li *ngFor="let item of inventory.ingredients">
      <div class="row">
        <div class="col-8">
          <app-ingredient [item]=item></app-ingredient>
        </div>
        <div class="col-4">
          <button *ngIf="inventoryService.cauldronHasRoomFor(item)" type="button" class="btn btn-primary" (click)="addContent(item)">+</button>
        </div>
      </div>
    </li>
  </ul>
</ng-template>
