
<span>
  <a class="triggersPopover" [ngbPopover]="ingredientDetails" popoverTitle="{{item.name}}" placement="right">
    {{item.quantity}}x {{item.name}}
  </a>
</span>
<ng-template #ingredientDetails>
  <div class="container">
    <ul class="list-group  p-0">
      <li *ngFor="let effect of item.effects" class="list-group-item p-1">
        {{effect.displayDetails()}}
      </li>
    </ul>
  </div>
</ng-template>
