<span>
  <a class="triggersPopover" [ngbPopover]="ingredientDetails" popoverTitle="{{item.name}}" placement="left">
    {{item.quantity}}x {{item.name}}
  </a>
</span>
<ng-template #ingredientDetails>
  <ul class="list-group  p-0">
    <li *ngFor="let effect of item.effects" class="list-group-item p-1">
      {{effect.displayDetails()}}
    </li>
  </ul>
  <div class="small text-muted">
    (All market transactions take 1 hour)
  </div>
  <b>Offers:</b>
  <div *ngFor="let faction of factions()" class="row">
    <div  class="col-5">
      {{faction.name}}
    </div>
    <div class="col-4">
      ${{priceForFaction(faction)}}
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-success" (click)="sellTo(faction)" title="Sell to {{faction.name}}">$</button>
    </div>
  </div>
</ng-template>
