<p>
  <img src="{{cauldronImage()}}">
</p>

<div *ngIf="contents.ingredients.length >= 2">
  <button type="button" class="btn btn-primary" title="Takes 8 hours" (click)="potionify()">
    Make a potion!
  </button>
</div>

<div>
  {{cauldronDescription()}}
</div>

<ul>
  <li *ngFor="let content of contents.ingredients">
    <app-ingredient [item]=content></app-ingredient>
    <button type="button" class="btn btn-danger" (click)="removeContent(content)">-</button>
  </li>
</ul>

<ng-template #potionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">You made a potion!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    You have created:
    <ul *ngIf="lastPotion">
      <li>1x {{lastPotion.name}}</li>
    </ul>
    <div *ngIf="lastEffectsLearned.length > 0">
      You also discovered the following effects:
      <ul>
        <li *ngFor="let effect of lastEffectsLearned">
          {{effect.displayDetails()}}
        </li>
      </ul>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Great!</button>
  </div>
</ng-template>

<ng-template #potionFailed let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="potion-failed-title">The mixture explodes!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Well, not really, but it definitely didn't make a potion.
    {{lastFailureReason}}
    <div *ngIf="lastEffectsLearned.length > 0">
      You did discover the following effects, though!
      <ul>
        <li *ngFor="let effect of lastEffectsLearned">
          {{effect.displayDetails()}}
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Great!</button>
  </div>
</ng-template>
