<div class="container-fluid" id="main-area">
  <app-player></app-player>
  <div class="row">
    <div class="col-4">
      <app-inventory></app-inventory>
    </div>
    <div class="col-4">
      <app-cauldron></app-cauldron>
    </div>
    <div class="col-4">
      <app-marketplace></app-marketplace>
    </div>
  </div>
</div>

<footer class="footer mt-auto py-3 fixed-bottom">
  <app-message></app-message>
</footer>

<ng-template #gameOverModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-gameover-title">Game Over</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      The greedy wizarding guild has run you out of business with their ridiculous fees!
    </p>
    <p>
      You made it {{playerService.day()}} days and {{playerService.hour()}} hour(s).
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Restart</button>
  </div>
</ng-template>
