<div id="all-messages">
  <div class="container">
    <div class="row">
      <div class="col-11">
        <h1>Messages</h1>
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
      </div>
    </div>
  </div>
  <div class="container" id="messages-area">
    <div *ngFor="let message of messages.slice().reverse()" class="row">
      <div class="col-3">{{message.when}}</div>
      <div class="col">{{message.content}}</div>
    </div>
  </div>
</div>
