<h2>Marketplace</h2>

<div class="small">
  <a [ngbPopover]="factionPopover"
     popoverTitle="Who are these people, anyway?" placement="left"
     popoverClass="increase-popover-width"
     class="triggersPopover text-muted">
    Who can I sell to?
  </a>
</div>
<ng-template #factionPopover>
  <div *ngFor="let faction of factions()" class="row">
    <div class="col-5">
      {{faction.name}}
    </div>
    <div class="col-7">
      {{faction.description}}
    </div>
  </div>
</ng-template>

<div *ngIf="potions.length > 0 else nothing">
  <h3>Potions</h3>
  <ul>
    <li *ngFor="let potion of potions">
      <app-potion [item]=potion></app-potion>
    </li>
  </ul>
</div>
<ng-template #nothing>You have nothing to sell, go make some potions!</ng-template>
