/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

.min-100 {
  min-height: 100%;
}

#main-area {
  height: 70%;
  overflow-y: auto;
}

.increase-popover-width {
  max-width: 400px;
  width: 400px;
}

.triggersPopover {
  text-decoration: underline dotted !important;
  cursor: help;
}
